.slider-content { margin-top:50px; }
.slider-content h3 {
	color:#fff;
	font-family: Roboto,sans-serif;
	font-size:42px;
	margin-bottom:20px;
}
.slider-content hr { 
	width:50px; 
	border-width:2px;
	color:#fff;
}
.slider-content ul { padding-left:0px; }
.slider-content ul li {
	list-style: none;
	color:#fff;
	font-family: Roboto,sans-serif;
	font-size:18px;
	padding-bottom:10px;
}
@media screen and (max-width: 767px) {
	.slider-content { margin-top:15px; }
	.slider-image { display:none; }
	.slider-content h3 { font-size:32px; }
}