body {
  padding-top: 100px;
  position: relative;
}
h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size:36px;
	font-weight:300;
}
h3 { font-family: 'Raleway', sans-serif; }
h4 { 
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: $gray;
	line-height: 24px;
}
p { 
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
a { color: $red;}
a:hover { 
	color:$blue-link !important;
	text-decoration: none !important;
}
#breadcrumbs { 
	font-size:14px;
	color: $saturate-blue;
}
.breadcrumb { 
	margin-bottom:0px; 
	text-align: center;
	padding:50px 0px 50px 0px;
	color:#fff;
	border-radius:0px;
}
.breadcrumb p {
	font-family: Raleway,sans-serif;
	color: #fff; 
	font-size:18px;
	font-weight:400;
	line-height:28px;
}
.breadcrumb-title { 
	color:#fff; 
	margin-top:10px;
	text-transform: uppercase;
	font-weight:bold;
}
.breadcrumb a { color:#00b4fa; }
.no-padding { padding:0px; }
.top-pad-50  { padding-top:50px; }
.top-marg-50 { margin-top:50px;}
.bottom-marg-50 { margin-bottom:50px;}
.padding-50 { padding-top:50px !important; padding-bottom:50px; }
@media screen and (max-width: 768px) {
	#owl-example { display: none; } 
	.m-bot-marg-50 { margin-bottom:50px; }
}

img { filter: contrast(100%); transition:all 1s ease; }
img:hover { filter: contrast(130%); }