// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$gray:				    #545454;
$blue-link:				#00b4fa;
$dark-blue:				#243c4f;
$brand-primary:         #27ae60;
$white-alpha:			rgba(255,255,255, 0.9);
