/*********************************************************************
 ** HEADER
 *********************************************************************/ 
 .navbar-inverse { background:#fff; border-color:#fff;}
 .navbar-brand img { height:42px; }
 .nav { float:right; padding-top:20px; }
 .nav>li, .nav>li>a { 
    color: $gray;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size:16px;
    display:inline-block; 
    text-transform: uppercase;
}
.nav>li.current-menu-item a { color: #ec5646; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: transparent; }
.navbar-inverse .navbar-toggle { margin-top:25px; margin-left:20px; border: solid 0px #fff;}
.navbar-inverse .navbar-toggle:hover { background-color:transparent; }

header { 
    background: #fff;
    padding-top:12px;
    position: fixed;
    top: 46px !important; 
    transition: top 0.2s ease-in-out;
    width: 100%;
    min-height:100px !important;
}
.nav-reposition { top: 0px !important; }
.nav-up { top:-100px !important; }

    /*********************************************************************
     ** Sticky bar responzivnost
     *********************************************************************/
    @media screen and (max-width: 992px) {
        .nav { float:left; }  
        .nav-up { top: -125px; }
    }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #cacaca; }
 @media screen and (max-width: 768px) {
  .nav { float:none; }
  .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{ left:200px; }
  .side-collapse {
      background: $white-alpha;
      top:100px;
      bottom:0;
      left:0;
      width:100%;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse .nav>li, .nav>li>a {
      display:block;
      text-align: center;
      min-height:56px;
  }
  .side-collapse.in { width:0; }
}

/*********************************************************************
 ** HEADER TOP
 *********************************************************************/ 
.header-top {
  position:absolute;
  top:0;
  left:0;
  height:46px;
  width:100%;
}
.slogan { 
  color:#cacaca; 
  padding:12px;
  font-size:14px;
}
.slogan span { color:#fff; text-decoration: underline;}
.fa-list span { 
  color:#fff; 
  font-family: FontAwesome; 
  padding-right:10px; 
}
.header-top-contact { padding:12px; }
.header-top-contact li { 
  display: inline; 
  color:#cacaca; 
  padding-right:20px;
  font-size:14px;
}
.header-top-social, .header-top-cta { padding:0px; }
.header-top-social li { 
  height:46px;
  border-left:solid 1px $saturate-blue; 
  border-right:solid 1px $saturate-blue;
  padding: 12px 10px 0px 15px;
  list-style: none;
  text-align: center;
  transition: all 0.3s ease;
}
.header-top-social li:hover { background: $blue-link; }
.header-top-social li a:hover,
.header-top-cta li a:hover { text-decoration: none !important; } 

.header-top-cta li { 
  height:46px;
  padding: 12px 10px 0px 15px;
  background: $green;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  color:#fff;
  transition: all 0.3s ease; 
}
.header-top-cta.fa-list span{ padding-left: 10px; }
/*********************************************************************
 ** PRIVREMENO RJEŠENJE ZA PROBLEM S RESPONZIVNOSTI HEADER TOP
 *********************************************************************/ 
 @media screen and (max-width: 992px) {
      .header-top-contact,
      .header-top-social,
      .header-top-cta { display: none; }
  }